{
  "env": {
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react-native/all",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "jest",
    "react",
    "react-native"
  ],
  "rules": {
    "comma-dangle": 0,
    "import/prefer-default-export": [0],
    "jsx-a11y/click-events-have-key-events": [0],
    "jsx-a11y/label-has-for": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "quotes": ["error", "single"],
    "react-native/no-color-literals": 0,
    "react/forbid-prop-types": [2, {
      "forbid": ["any"]
    }],
    "react/jsx-filename-extension": [0],
    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-one-expression-per-line": [0],
    "react/no-unused-prop-types": 1,
    "react/static-property-placement": [2, "static public field"],
    "semi": ["error", "always"]
  }
}
